<div class="bg-white w-60 -ml-24 w-54 border-r px-2 float-left">
  <ul class="space-y-2 text-sm text-gray-900">
   <%= link_to admin_index_path, class: ("text-red-400" if request.path == admin_index_path) do %>
     <li class="block cursor-pointer px-2 py-1 hover:bg-gray-200 w-full mt-2">Admin Home</li>
  <% end %>
  <li><hr class="border-b-1 border-gray-200 w-full"/></li>
  <%= link_to cities_path, class: ("text-red-400" if request.path == cities_path) do %>
    <li class="block cursor-pointer px-2 py-1 hover:bg-gray-200 w-full mt-3">Cities</li>
    <% end %>
    <li class="block cursor-pointer px-2 py-1 hover:bg-gray-200 w-full">Listings</li>
    <li class="block cursor-pointer px-2 py-1 hover:bg-gray-200 w-full">Finance</li>
    <li class="block cursor-pointer px-2 py-1 hover:bg-gray-200 w-full">Site Statistics</li>
  </ul>
</div>
