<div class="flex flex-shrink-0 flex-row space-x-12">
  <% @top_ten_cities.each do |city| %>
      <%= render partial: "home/shared/location_card", locals: {city_name: city.city_name, image: city.display_image} %>
  <% end %>
</div>