<span class="text-red-500 text-lg">Hello World</span>


<span class="text-red-500 text-lg">Hello World</span><span class="text-red-500 text-lg">Hello World</span><span class="text-red-500 text-lg">Hello World</span><span class="text-red-500 text-lg">Hello World</span><span class="text-red-500 text-lg">Hello World</span><span class="text-red-500 text-lg">Hello World</span>s