<div class="flex flex-col">
  <div class="ml-auto mr-auto flex flex-row flex-wrap">
  <% @top_ten_cities.each do |city| %>
    <div class="p-4">
      <%= render partial: "home/shared/location_card", locals: {city_name: city.city_name, image: city.display_image, city: city} %>
    </div>
  <% end %>
  </div>
</div>