<div class="flex flex-col">
    <img class="object-cover h-96 w-full" src="<%= @city.display_image%>"/>
    <div class="px-20 mt-4">
      <span class="text-gray-900 text-2xl text-wider font-medium" >Your <%=@city.city_name%> experience awaits you...</span><span class="inline font-wider text-gray-900 text-lg"> let us take care of the accomodations</span>

    </div>
</div>